<div class=" dark:bg-slate-700  dark:text-white min-h-screen bg-slate-50">


    <nav
        class="z-50 top-0 sticky bg-slate-200 dark:bg-gray-800 border-gray-200  drop-shadow-lg  px-24 md:px-8 sm:px-16 lg:px-48 ">
        <div class="max-w-full flex flex-wrap items-center justify-between mx-auto py-4">
            <a href="/" class="flex flex-row items-center rtl:space-x-reverse">
                <img src="favicon.ico" width="46" />
                <span class="self-center text-3xl font-semibold whitespace-nowrap pl-4 hidden sm:flex"> Where in the
                    World ?</span>
            </a>
            <div class="px-8 flex-row items-center" id="navbar-default">
                <button class="flex transition-transform hover:scale-125" (click)="darkMode.set(!darkMode())">
                    <i *ngIf="!darkMode()" class="fa fa-moon" aria-hidden="true"></i>
                    <i *ngIf="darkMode()" class="fa fa-sun" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </nav>

    <div class="flex flex-col justify-center items-center">
        <div class="w-full ">

            <form #f="ngForm"
                class="px-24 md:px-8 sm:px-16 lg:px-48 flex flex-col sm:flex-row  justify-between items-center  max-h-24 align-center py-8 ">

                <div class="relative w-full">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <i class="w-4 h-4 text-gray-500 dark:text-gray-400 fa fa-search"></i>
                    </div>
                    <input id="searchInput" type="text" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="this.searchTerm" (input)="filterByName()"
                        class="shadow-md shadow-gray-500 dark:shadow-md dark:shadow-cyan-600 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-cyan-500 focus:border-cyan-500 block w-full md:w-4/12 ps-10 p-2.5  dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-cyan-500 dark:focus:border-cyan-500"
                        placeholder="Search country name..." required>
                </div>

                <select
                    class="bg-gray-50 border shadow-md shadow-gray-500 dark:shadow-md dark:shadow-cyan-600 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-60 p-2.5 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-cyan-500 dark:focus:border-cyan-500"
                    id="regionFilter" [(ngModel)]="this.selectedRegion" name="valueCheck"
                    (change)="this.filterByRegion()" aria-placeholder="Region" title="Region">
                    <option value="">All regions</option>
                    <option *ngFor="let obj of this.regionData" [ngValue]="obj" [selected]="obj == this.selectedRegion">
                        {{obj}}
                    </option>
                </select>

            </form>



        </div>

        <div
            class="px-24 md:px-8 sm:px-16 lg:px-48 grid gap-x-2 lg:gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  align-center py-8 ">

            <ng-template ngFor let-item [ngForOf]="this.filteredCountryData" let-i="index">

                <div
                    class="mb-8 sm:mb-8 md:mb-0 max-w-sm bg-slate-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:shadow-lg dark:hover:shadow-md dark:hover:shadow-cyan-600 ">
                    <a href="https://en.wikipedia.org/wiki/{{item.name.official}}">
                        <img class="rounded-t-lg max-h-36 w-full" src="{{item.flags.png}}" alt="" />
                    </a>
                    <div class="p-5 text-sm">
                        <a href="https://en.wikipedia.org/wiki/{{item.name.official}}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                {{item.flag}} |
                                {{item.name.official}}</h5>
                            <p class="font-normal text-gray-700 dark:text-gray-400"><strong>Capital : </strong> {{item.capital}}</p>
                            <p class="font-normal text-gray-700 dark:text-gray-400"><strong>Population : </strong> {{this.formatNumberWithCommas(item.population)}}</p>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><strong>Region : </strong>{{item.region}}</p>
                        </a>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>

</div>


<!-- {
    "name": {
        "common": "Christmas Island",
        "official": "Territory of Christmas Island",
        "nativeName": {
            "eng": {
                "official": "Territory of Christmas Island",
                "common": "Christmas Island"
            }
        }
    },
    "tld": [
        ".cx"
    ],
    "cca2": "CX",
    "ccn3": "162",
    "cca3": "CXR",
    "independent": false,
    "status": "officially-assigned",
    "unMember": false,
    "currencies": {
        "AUD": {
            "name": "Australian dollar",
            "symbol": "$"
        }
    },
    "idd": {
        "root": "+6",
        "suffixes": [
            "1"
        ]
    },
    "capital": [
        "Flying Fish Cove"
    ],
    "altSpellings": [
        "CX",
        "Territory of Christmas Island"
    ],
    "region": "Oceania",
    "subregion": "Australia and New Zealand",
    "languages": {
        "eng": "English"
    },
    "translations": {
        "ara": {
            "official": "جزيرة كريسماس",
            "common": "جزيرة كريسماس"
        },
        "bre": {
            "official": "Tiriad Enez Christmas",
            "common": "Enez Christmas"
        },
        "ces": {
            "official": "Teritorium Vánočního ostrova",
            "common": "Vánoční ostrov"
        },
        "cym": {
            "official": "Tiriogaeth yr Ynys y Nadolig",
            "common": "Ynys y Nadolig"
        },
        "deu": {
            "official": "Gebiet der Weihnachtsinsel",
            "common": "Weihnachtsinsel"
        },
        "est": {
            "official": "Jõulusaare ala",
            "common": "Jõulusaar"
        },
        "fin": {
            "official": "Joulusaaren alue",
            "common": "Joulusaari"
        },
        "fra": {
            "official": "Territoire de l'île Christmas",
            "common": "Île Christmas"
        },
        "hrv": {
            "official": "Teritorij Božićni otok",
            "common": "Božićni otok"
        },
        "hun": {
            "official": "Karácsony-sziget",
            "common": "Karácsony-sziget"
        },
        "ita": {
            "official": "Territorio di Christmas Island",
            "common": "Isola di Natale"
        },
        "jpn": {
            "official": "クリスマス島の領土",
            "common": "クリスマス島"
        },
        "kor": {
            "official": "크리스마스 섬",
            "common": "크리스마스 섬"
        },
        "nld": {
            "official": "Grondgebied van Christmas Island",
            "common": "Christmaseiland"
        },
        "per": {
            "official": "جزیرهٔ کریسمس",
            "common": "جزیرهٔ کریسمس"
        },
        "pol": {
            "official": "Wyspa Bożego Narodzenia",
            "common": "Wyspa Bożego Narodzenia"
        },
        "por": {
            "official": "Território da Ilha Christmas",
            "common": "Ilha do Natal"
        },
        "rus": {
            "official": "Территория острова Рождества",
            "common": "Остров Рождества"
        },
        "slk": {
            "official": "Teritórium Vianočného ostrova",
            "common": "Vianočnú ostrov"
        },
        "spa": {
            "official": "Territorio de la Isla de Navidad",
            "common": "Isla de Navidad"
        },
        "srp": {
            "official": "Божићно Острво",
            "common": "Божићно Острво"
        },
        "swe": {
            "official": "Julön",
            "common": "Julön"
        },
        "tur": {
            "official": "Christmas Adası",
            "common": "Christmas Adası"
        },
        "urd": {
            "official": "ریاستِ جزیرہ کرسمس",
            "common": "جزیرہ کرسمس"
        },
        "zho": {
            "official": "圣诞岛",
            "common": "圣诞岛"
        }
    },
    "latlng": [
        -10.5,
        105.66666666
    ],
    "landlocked": false,
    "area": 135,
    "demonyms": {
        "eng": {
            "f": "Christmas Islander",
            "m": "Christmas Islander"
        }
    },
    "flag": "🇨🇽",
    "maps": {
        "googleMaps": "https://goo.gl/maps/ZC17hHsQZpShN5wk9",
        "openStreetMaps": "https://www.openstreetmap.org/relation/6365444"
    },
    "population": 2072,
    "car": {
        "signs": [
            "AUS"
        ],
        "side": "left"
    },
    "timezones": [
        "UTC+07:00"
    ],
    "continents": [
        "Asia"
    ],
    "flags": {
        "png": "https://flagcdn.com/w320/cx.png",
        "svg": "https://flagcdn.com/cx.svg"
    },
    "coatOfArms": {
        "png": "https://mainfacts.com/media/images/coats_of_arms/cx.png",
        "svg": "https://mainfacts.com/media/images/coats_of_arms/cx.svg"
    },
    "startOfWeek": "monday",
    "capitalInfo": {
        "latlng": [
            -10.42,
            105.68
        ]
    },
    "postalCode": {
        "format": "####",
        "regex": "^(\\d{4})$"
    }
} -->